:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

mat-card-title,
mat-card-subtitle,
mat-card-content,
mat-card-footer {
    display: flex;
    justify-content: center;
}

button {
    width: 100%;
}

.error {
    color: red;
}